<?xml version="1.0"?>
<!-- 
/**
 * @category   Technooze
 * @package    Technooze_Tindexer
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Technooze_Tindexer>
            <version>0.1.0</version>
        </Technooze_Tindexer>
    </modules>
    <global>
        <helpers>
            <tindexer>
                <class>Technooze_Tindexer_Helper</class>
            </tindexer>
        </helpers>
        <models>
            <tindexer>
                <class>Technooze_Tindexer_Model</class>
                <resourceModel>tindexer_mysql4</resourceModel>
            </tindexer>
            <tindexer_mysql4>
                <class>Technooze_Tindexer_Model_Mysql4</class>
                <entities>
                    <products>
                        <table>tindexer</table>
                    </products>
                </entities>
            </tindexer_mysql4>
        </models>
        <resources>
            <tindexer_setup>
                <setup>
                    <module>Technooze_Tindexer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tindexer_setup>
            <tindexer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tindexer_write>
            <tindexer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tindexer_read>
        </resources>
        <index>
            <indexer>
                <tindexer_indexer>
                    <model>tindexer/indexer</model>
                </tindexer_indexer>
            </indexer>
        </index>
    </global>
</config>